.re-boot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.re-boot :nth-child(1) {
    width: 50%;
}
.re-boot :nth-child(2) {
    width: 50%;
}

.boots-trio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
}
.boots-trio img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.text-trio {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    gap: 1.5rem;
}

.boots-trio h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.boots-trio p {
    font-size: 1.2rem;
    width: 33%;
    line-height: 2.7rem;
}

.boots-trio :nth-child(3) p {
    width: 50%;
}

.boots-trio a {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    margin-bottom: 3rem;
}

.boots-trio a:hover {
    text-decoration: none;
    font-weight: bold;
}

.sales-bgr {
    background-color: #DFE0E5;
    margin-bottom: 0.5rem;
}

.sale {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-top: 3rem; */
    margin-bottom: 0.5rem;
}
.sales {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    gap: 0.5rem;
}

 .mid-container-left {
    display: flex;
    /* width: 100%; */
 }

 .mid-container-left img {
    display: flex;
    width: 50%;
 }

 .mid-container-right {
    display: flex;
    justify-content: space-between;
 }

.mid-container-right img {
    display: flex;
    width: 50%;
 }


 .mid-container-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* margin-right: 10rem; */
    gap: 1rem;
    width: 30%;
    
 }

 .mid-container-content h2 {
    text-transform: uppercase;
 }

 .mid-container-content p {
    text-align: center;
    font-size: 1.2rem;
    width: 55%;
    line-height: 2.7rem;
 }

 .mid-container-content a {
    text-transform: uppercase;
    color: black;
 }
 .mid-container-content a:hover {
    font-weight: bold;
    text-decoration: none;
 }

/* .bot-container {
    display: flex;
    gap: 0 3rem;
} */

