.top-container {
    width: 100%;
    /* margin-bottom: 10px; */
    background-size: cover;
    background-position: center;
}

.top-section {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: end; */
    /* width: 100%; */
    height: 20rem;
    margin-bottom: 10px;

    /* background-size: cover; */
    /* background-position: center; */
    background-image: url(../img/SaleImage1.png);
}
.bot-section {
    /* width: 100%; */
    height: 46rem;
    /* background-size: cover; */
    /* background-position: center; */
    background-image: url(../img/Boots1.png);
    margin-bottom: 10px;
}

.dots {
    text-align: center;
    word-spacing: 0.3rem;
}
.dot1 {
    color: #BBBBBB;
}
.dot2 {
    color: #717171
}
.boots-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding-left: 5rem;
    padding-right: 5rem;
    /* text-align: center; */
    width: 100%;
}

.boots {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* text-align: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    width: 25%;
}
/* .boots-group a {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.a {
    display: flex;
    flex-direction:column; 
} */