.top-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.top-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.bot-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.dots {
    text-align: center;
    word-spacing: 0.3rem;
}
.dot1 {
    color: #BBBBBB;
}
.dot2 {
    color: #717171
}
.shoes-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
}

.shoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.shoes img {
   width: 30%;
   margin-bottom: 20px;
}

.shoes a {
    text-decoration: none;
    color: black;
}

.shoes a:hover {
    font-weight: bold;
}